@import url(../blocks/header/__square-pic/.header__square-pic.css);
/*add index.css*/
.header__square-pic {
    top: 64px;
    max-height: 568px;
    width: 568px;
    right: 0;
    bottom: 0px;
    background-color: #2f80ed;
    position: absolute;  
  }
 