@import url(../blocks/footer/__column_content_copyright/footer__column_content_copyright.css);
/*add index.css*/
.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }
  