/*add index.css*/
.table__cell {
    display: flex;
    text-align: left;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;
    width: 250px;
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 0;
  }